@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

.loginbody {
  background-color: steelblue;
  color: #fff;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.loginForm {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
}

.loginForm h1 {
  text-align: center;
  margin-bottom: 30px;
  
}

.loginformcontainer a {
  text-decoration: none;
  color: lightblue;
}

.loginbtn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: lightblue;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.loginbtn:focus {
  outline: 0;
}

.loginbtn:active {
  transform: scale(0.98);
}

.logintext {
  margin-top: 30px;
}

.loginformcontrol {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.loginformcontrol input {
  background-color: transparent;
  border: 0;
  border: 2px lightblue solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}
